<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis的主配置文件 -->
<configuration>
    <!--配置参数-->
    <settings>
        <!--开启Mybatis支持延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--允许方法触发加载，在 3.4.1 及之前的版本中默认为 true-->
        <setting name="aggressiveLazyLoading" value="true"/>

        <!--开启二级缓存，值默认就为 true-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="Domain"/>
    </typeAliases>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="will"/>
                <property name="password" value="will1234"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- package标签是用于指定dao接口所在的包,当指定了之后就不需要在写mapper以及resource或者class了,注解和xml不能存在 -->
        <!--   <package name="Dao"/>-->

        <package name="AnnotationDao"/>
    </mappers>
</configuration>